body{
  display:flex;
  flex-direction:column;
  background-color:#E9E9E9;
  color:white;
}
h1{
  font-family:sans-serif;
  color:white;
}
label{
  font-family:sans-serif;
  color:black;
}
.box01{
  width: 60%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;;
}
@media screen and (max-width:600px){
  .box01{
    width: 100%;
    margin: auto;
  }
}