body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ---- POPUP BOX DESIGN ---- */
.popup{
    display: none;
    max-width:500px;
    margin:180px auto;
    background-color: #333;
    color: #fff;
    z-index: 3;
    animation-name: animate1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
@keyframes animate1 {
    100%{
        transform: translateY(-100px);
        opacity: 0;
    }
    /*30%{
        transform: translateY(-50px);
        opacity: 0.5;
    }
    60%{
        transform: translateY(20px);
        opacity: 0.8;
    }
    100%{
        transform: translateY(40px);
        opacity: 1;
    }*/
}
.popup-header{
    position: relative;
    padding: 10px;
}
.popup-header span{
    position: absolute;
    top: 7px;
    right: 7px;
    font-size: 26px;
    padding: 10px;
    cursor: pointer;
}
.popup-header span:hover{background-color: red;}
.popup-header span:active{
    background-color: darkred;
}
.popup-content{
    height: 100px;
    font-size: 20px;
    padding: 10px;
    background-color: #3f3f3f;
}
.popup-footer{
    padding: 10px;
    font-size: 20px;
}