body{
    margin: 0;
}
.main_container{
    margin-top: 30px;
    width: 95%;
    margin: 0 auto;
    text-align: center;
}
.paragraph{
    padding: 50px 0px 50px 0px;
    color: white;
    font-size: 20px;
    background-color: darkred;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
}
.images{
    width: 60%;
    height: auto;
    margin: 0 auto;
}

tr{
    border: 2px solid white;
}

/*Design for Tables*/
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
}
tr{
    border: 2px solid white;
}

th{
    background-color: rgb(73, 64, 64);
    color: white;
}
tr:nth-child(even){
    background-color: gray;
    color: white;
}
tr:hover{
    background-color: rgb(94, 89, 89);
}