body{
    margin: 0;
}
.navbar{
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 98.5%;
    background-color: gray;
    padding: 10px;
}
input{
    font-size: 19px;
    border: none;
    background-color: gray;
    color: white;
}

/*Home Page*/
.YT_player{
    width: 70%;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}

.promotion{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(151, 151, 151);
    color: #fff;
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 40px;
}
.promotion h2{
    color: yellow;
}

/*Games Page*/
.items_Games{
    width: 80%;
    margin: 0 auto;
    background: whitesmoke;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgb( 0 0 0 / 20% );
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 30px;
}

.mlbb_Games{
    background-image: url(https://www.moonton.com/static/img/ML_BJ.0e933cc.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}
.mlbb_Games button{
    padding: 10px;
    border-radius: 30%;
    background: whitesmoke;
}
.mla_Games{
    background-image: url(https://www.moonton.com/static/img/K_BJ.e380f3d.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}
.mla_Games button{
    padding: 10px;
    border-radius: 30%;
    background: whitesmoke;
}
.mr_Games{
    background-image: url(https://www.moonton.com/static/img/MR_BJ.b2cc666.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}
.mr_Games button{
    padding: 10px;
    border-radius: 30%;
    background: whitesmoke;
}
.about-item_Games{
    color: #fff;
    display: flex;
}

/*Company Page*/
.about_Com{
    background-image: url(images/Banner_Company.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 18px;
    color: #fff;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
}
.header_Com{
    font-size: 1.5rem;
    color: #03a9f4;
    text-align: center;
}

.ourmission_Com{
    width: 60%;
    margin: 0 auto;
    margin-top: 50px;
}

.ourperspective_Com{
    background-color: #f4f6f7;
    padding: 50px;
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
}
.op-itemsFirst_Com{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}
.op-itemsSecond_Com{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.founderProfile_Com{
    background-color: #f4f6f7;
    margin-top: 100px;
    padding: 50px 30px 20px 30px;
}
@media screen and (max-width: 800px) {
    .founderProfile_Com{
        flex-direction: column;
    }
}
.YuanJing , .XuZhenhua{
    display: flex;
    background-color: #fff;
    margin-bottom: 30px;
    padding: 20px;
}
.founderimg_Com{
    width: 19%;
    padding-left: 20px;
}
.abouthim_Com{
    width: 79%;
}
/*About Us Page*/
.Heading_AU{
    color: #03a9f4; 
    text-align: center; 
    font-size: 25px; 
    margin-top: 70px;
}

.enviroment-imgs_AU{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}

.info_AU{
    background-image: url(images/ContactUs.png);
    background-size: 100% auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.contactus_AU{
    display: flex;
    justify-content: center;
}
